charts
Chart.lock

springboot-demo2-dev.yaml
ui-panel.yaml
ui-tile-updated.yaml
ui-tile.yaml
workload-hydrator.yaml

argocd/dev/springboot-demo1-application.yaml
argocd/dev/springboot-demo2-application.yaml

# argocd/dev/ApplicationSet.yaml